In [3]:
import pandas as pd
import os
from datetime import datetime

In [6]:
train_file_path = os.path.abspath(os.path.join(os.pardir,'data','training.csv'))
test_file_path = os.path.abspath(os.path.join(os.pardir,'data','test.csv'))

# Import Data Set

In [12]:
train = pd.read_csv(train_file_path)
test = pd.read_csv(test_file_path)

In [13]:
print(train.shape,test.shape)

(72983, 34) (48707, 33)

In [14]:
train.head()

,RefId,IsBadBuy,PurchDate,Auction,VehYear,VehicleAge,Make,Model,Trim,SubModel,...,MMRCurrentRetailAveragePrice,MMRCurrentRetailCleanPrice,PRIMEUNIT,AUCGUART,BYRNO,VNZIP1,VNST,VehBCost,IsOnlineSale,WarrantyCost
0,1,0,12/7/2009,ADESA,2006,3,MAZDA,MAZDA3,i,4D SEDAN I,...,11597.0,12409.0,NaN,NaN,21973,33619,FL,7100.0,0,1113
1,2,0,12/7/2009,ADESA,2004,5,DODGE,1500 RAM PICKUP 2WD,ST,QUAD CAB 4.7L SLT,...,11374.0,12791.0,NaN,NaN,19638,33619,FL,7600.0,0,1053
2,3,0,12/7/2009,ADESA,2005,4,DODGE,STRATUS V6,SXT,4D SEDAN SXT FFV,...,7146.0,8702.0,NaN,NaN,19638,33619,FL,4900.0,0,1389
3,4,0,12/7/2009,ADESA,2004,5,DODGE,NEON,SXT,4D SEDAN,...,4375.0,5518.0,NaN,NaN,19638,33619,FL,4100.0,0,630
4,5,0,12/7/2009,ADESA,2005,4,FORD,FOCUS,ZX3,2D COUPE ZX3,...,6739.0,7911.0,NaN,NaN,19638,33619,FL,4000.0,0,1020

In [17]:
train.describe()

,RefId,IsBadBuy,VehYear,VehicleAge,WheelTypeID,VehOdo,MMRAcquisitionAuctionAveragePrice,MMRAcquisitionAuctionCleanPrice,MMRAcquisitionRetailAveragePrice,MMRAcquisitonRetailCleanPrice,MMRCurrentAuctionAveragePrice,MMRCurrentAuctionCleanPrice,MMRCurrentRetailAveragePrice,MMRCurrentRetailCleanPrice,BYRNO,VNZIP1,VehBCost,IsOnlineSale,WarrantyCost
count,72983.000000,72983.000000,72983.000000,72983.000000,69814.000000,72983.000000,72965.000000,72965.000000,72965.000000,72965.000000,72668.000000,72668.000000,72668.000000,72668.000000,72983.000000,72983.000000,72983.000000,72983.000000,72983.000000
mean,36511.428497,0.122988,2005.343052,4.176644,1.494299,71499.995917,6128.909217,7373.636031,8497.034332,9850.928240,6132.081287,7390.681827,8775.723331,10145.385314,26345.842155,58043.059945,6730.934326,0.025280,1276.580985
std,21077.241302,0.328425,1.731252,1.712210,0.521290,14578.913128,2461.992768,2722.491986,3156.285284,3385.789541,2434.567723,2686.248852,3090.702941,3310.254351,25717.351219,26151.640415,1767.846435,0.156975,598.846788
min,1.000000,0.000000,2001.000000,0.000000,0.000000,4825.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,835.000000,2764.000000,1.000000,0.000000,462.000000
25%,18257.500000,0.000000,2004.000000,3.000000,1.000000,61837.000000,4273.000000,5406.000000,6280.000000,7493.000000,4275.000000,5414.000000,6536.000000,7784.000000,17212.000000,32124.000000,5435.000000,0.000000,837.000000
50%,36514.000000,0.000000,2005.000000,4.000000,1.000000,73361.000000,6097.000000,7303.000000,8444.000000,9789.000000,6062.000000,7313.000000,8729.000000,10103.000000,19662.000000,73108.000000,6700.000000,0.000000,1155.000000
75%,54764.500000,0.000000,2007.000000,5.000000,2.000000,82436.000000,7765.000000,9021.000000,10651.000000,12088.000000,7736.000000,9013.000000,10911.000000,12309.000000,22808.000000,80022.000000,7900.000000,0.000000,1623.000000
max,73014.000000,1.000000,2010.000000,9.000000,3.000000,115717.000000,35722.000000,36859.000000,39080.000000,41482.000000,35722.000000,36859.000000,39080.000000,41062.000000,99761.000000,99224.000000,45469.000000,1.000000,7498.000000

In [15]:
test.head()

,RefId,PurchDate,Auction,VehYear,VehicleAge,Make,Model,Trim,SubModel,Color,...,MMRCurrentRetailAveragePrice,MMRCurrentRetailCleanPrice,PRIMEUNIT,AUCGUART,BYRNO,VNZIP1,VNST,VehBCost,IsOnlineSale,WarrantyCost
0,73015,12/2/2009,ADESA,2005,4,PONTIAC,GRAND PRIX,Bas,4D SEDAN,SILVER,...,8557.0,9752.0,NaN,NaN,18881,30212,GA,6500.0,0,2152
1,73016,12/2/2009,ADESA,2005,4,CHEVROLET,MALIBU V6,LS,4D SEDAN LS,SILVER,...,7562.0,9296.0,NaN,NaN,18111,30212,GA,6300.0,0,1118
2,73017,12/2/2009,ADESA,2006,3,DODGE,DURANGO 2WD V8,Adv,4D SUV 4.7L ADVENTURER,SILVER,...,15340.0,16512.0,NaN,NaN,18111,30212,GA,9700.0,0,1215
3,73018,12/2/2009,ADESA,2002,7,SATURN,L SERIES,L20,4D SEDAN L200,GOLD,...,5725.0,6398.0,NaN,NaN,18881,30212,GA,4150.0,0,1933
4,73019,12/2/2009,ADESA,2007,2,HYUNDAI,ACCENT,GS,2D COUPE GS,BLUE,...,5914.0,7350.0,NaN,NaN,18111,30212,GA,4100.0,0,920

In [26]:
datetime_object = datetime.strptime('12/2/2009', '%m/%d/%Y')

In [27]:
datetime_object

datetime.datetime(2009, 12, 2, 0, 0)

In [22]:
date_string = "12/2/2009"
datetime.fromisoformat(date_string)

ValueError: Invalid isoformat string: '12/2/2009'

In [20]:
test['PurchDate'][0].timestamp()

AttributeError: 'str' object has no attribute 'timestamp'

In [18]:
test.describe()

,RefId,VehYear,VehicleAge,WheelTypeID,VehOdo,MMRAcquisitionAuctionAveragePrice,MMRAcquisitionAuctionCleanPrice,MMRAcquisitionRetailAveragePrice,MMRAcquisitonRetailCleanPrice,MMRCurrentAuctionAveragePrice,MMRCurrentAuctionCleanPrice,MMRCurrentRetailAveragePrice,MMRCurrentRetailCleanPrice,BYRNO,VNZIP1,VehBCost,IsOnlineSale,WarrantyCost
count,48707.000000,48707.000000,48707.000000,46519.000000,48707.000000,48697.000000,48697.000000,48697.000000,48697.000000,48564.000000,48564.000000,48564.000000,48564.000000,48707.000000,48707.000000,48707.000000,48707.000000,48707.000000
mean,97378.396144,2005.331533,4.215801,1.462198,71576.351448,6134.883997,7393.486313,8550.143869,9920.585662,6112.367247,7382.808994,8812.130014,10195.801334,25432.898906,54198.092636,6760.866483,0.022009,1281.105755
std,14067.338432,1.730500,1.704778,0.516574,14487.934950,2453.918764,2715.515852,3130.915999,3361.101528,2427.325384,2682.991119,3062.179799,3285.030551,24137.133174,26053.831141,1757.034461,0.146715,612.003001
min,73015.000000,2001.000000,0.000000,1.000000,223.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,835.000000,3106.000000,1625.000000,0.000000,462.000000
25%,85195.500000,2004.000000,3.000000,1.000000,62226.500000,4283.000000,5432.000000,6378.000000,7579.000000,4247.000000,5391.000000,6622.000000,7876.000000,17212.000000,32750.000000,5480.000000,0.000000,853.000000
50%,97378.000000,2005.000000,4.000000,1.000000,73412.000000,6115.000000,7308.000000,8495.000000,9881.000000,6050.000000,7280.000000,8749.000000,10136.000000,19638.000000,40509.000000,6730.000000,0.000000,1209.000000
75%,109560.500000,2007.000000,5.000000,2.000000,82419.500000,7755.000000,9044.000000,10666.000000,12184.000000,7677.000000,9028.000000,10869.250000,12374.000000,21973.000000,78219.000000,7935.000000,0.000000,1623.000000
max,121746.000000,2010.000000,9.000000,3.000000,114786.000000,27584.000000,30843.000000,32456.000000,35754.000000,27009.000000,30516.000000,31677.000000,36036.000000,99791.000000,98064.000000,56950.000000,1.000000,7498.000000