In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from wordcloud import WordCloud
import numpy as np
import csv
import os

In [2]:
#define file path
train_file_path = os.path.abspath(os.path.join(os.pardir,'data','training.csv'))
image_file_path = os.path.abspath(os.path.join(os.pardir,'images'))

In [3]:
#import data
train = pd.read_csv(train_file_path)
train.head()

,RefId,IsBadBuy,PurchDate,Auction,VehYear,VehicleAge,Make,Model,Trim,SubModel,...,MMRCurrentRetailAveragePrice,MMRCurrentRetailCleanPrice,PRIMEUNIT,AUCGUART,BYRNO,VNZIP1,VNST,VehBCost,IsOnlineSale,WarrantyCost
0,1,0,12/7/2009,ADESA,2006,3,MAZDA,MAZDA3,i,4D SEDAN I,...,11597.0,12409.0,NaN,NaN,21973,33619,FL,7100.0,0,1113
1,2,0,12/7/2009,ADESA,2004,5,DODGE,1500 RAM PICKUP 2WD,ST,QUAD CAB 4.7L SLT,...,11374.0,12791.0,NaN,NaN,19638,33619,FL,7600.0,0,1053
2,3,0,12/7/2009,ADESA,2005,4,DODGE,STRATUS V6,SXT,4D SEDAN SXT FFV,...,7146.0,8702.0,NaN,NaN,19638,33619,FL,4900.0,0,1389
3,4,0,12/7/2009,ADESA,2004,5,DODGE,NEON,SXT,4D SEDAN,...,4375.0,5518.0,NaN,NaN,19638,33619,FL,4100.0,0,630
4,5,0,12/7/2009,ADESA,2005,4,FORD,FOCUS,ZX3,2D COUPE ZX3,...,6739.0,7911.0,NaN,NaN,19638,33619,FL,4000.0,0,1020

In [4]:
#categorical data
categorical_cols = ['Auction', 'Make', 'Model', 'Trim', 'SubModel', 'VNST',
                   'Color','Transmission', 'WheelType', 'Nationality', 'Size'
                   ,'TopThreeAmericanName', 'PRIMEUNIT', 'AUCGUART']

In [11]:
for category in categorical_cols:
    print(train[category].value_counts())

MANHEIM    41043
OTHER      17501
ADESA      14439
Name: Auction, dtype: int64
CHEVROLET       17248
DODGE           12912
FORD            11305
CHRYSLER         8844
PONTIAC          4258
KIA              2484
SATURN           2163
NISSAN           2085
HYUNDAI          1811
JEEP             1644
SUZUKI           1328
TOYOTA           1144
MITSUBISHI       1030
MAZDA             979
MERCURY           913
BUICK             720
GMC               649
HONDA             497
OLDSMOBILE        243
VOLKSWAGEN        134
ISUZU             134
SCION             129
LINCOLN            97
INFINITI           42
VOLVO              37
ACURA              33
CADILLAC           33
LEXUS              31
SUBARU             28
MINI               24
PLYMOUTH            2
TOYOTA SCION        1
HUMMER              1
Name: Make, dtype: int64
PT CRUISER              2329
IMPALA                  1990
TAURUS                  1425
CALIBER                 1375
CARAVAN GRAND FWD V6    1289
                        ...
ES300 3.0L V6 EFI DO       1
SRX AWD V8 4.6L V8 S       1
BRAVADA 2WD V6             1
ESCORT                     1
ESCAPE                     1
Name: Model, Length: 1063, dtype: int64
Bas    13950
LS     10174
SE      9348
SXT     3825
LT      3540
       ...
Z24        1
L 3        1
Ult        1
JLS        1
Out        1
Name: Trim, Length: 134, dtype: int64
4D SEDAN                           15236
4D SEDAN LS                         4718
4D SEDAN SE                         3859
4D WAGON                            2230
MINIVAN 3.3L                        1258
                                   ...
REG CAB 3.7L LS                        1
EXT CAB 2.4L SE                        1
4D WAGON ROCKY MOUNTAIN EDITION        1
REG CAB 3.5L Z71                       1
4D EXT CAB 3.0L XL                     1
Name: SubModel, Length: 863, dtype: int64
TX    13596
FL    10447
CA     7095
NC     7042
AZ     6174
CO     4998
SC     4280
OK     3594
GA     2450
TN     1764
VA     1662
MD     1158
UT      875
PA      847
OH      795
MO      758
AL      690
NV      562
IA      499
MS      493
IN      486
IL      458
LA      349
NJ      317
WV      292
NM      239
KY      230
OR      211
ID      196
WA      136
NH       97
AR       70
MN       62
NE       26
MA       15
MI       14
NY        6
Name: VNST, dtype: int64
SILVER       14875
WHITE        12123
BLUE         10347
GREY          7887
BLACK         7627
RED           6257
GOLD          5231
GREEN         3194
MAROON        2046
BEIGE         1584
BROWN          436
ORANGE         415
PURPLE         373
YELLOW         244
OTHER          242
NOT AVAIL       94
Name: Color, dtype: int64
AUTO      70398
MANUAL     2575
Manual        1
Name: Transmission, dtype: int64
Alloy      36050
Covers     33004
Special      755
Name: WheelType, dtype: int64
AMERICAN          61028
OTHER ASIAN        8033
TOP LINE ASIAN     3722
OTHER               195
Name: Nationality, dtype: int64
MEDIUM         30785
LARGE           8850
MEDIUM SUV      8090
COMPACT         7205
VAN             5854
LARGE TRUCK     3170
SMALL SUV       2276
SPECIALTY       1915
CROSSOVER       1759
LARGE SUV       1433
SMALL TRUCK      864
SPORTS           777
Name: Size, dtype: int64
GM          25314
CHRYSLER    23399
FORD        12315
OTHER       11950
Name: TopThreeAmericanName, dtype: int64
NO     3357
YES      62
Name: PRIMEUNIT, dtype: int64
GREEN    3340
RED        79
Name: AUCGUART, dtype: int64

In [ ]:
#word cloud: color, make, (vnst?), size
#bar graph/pie chart: auction (3), transmission (2)
#map? vnst

# Categorical Word Cloud

In [13]:
#categorical data
word_cloud_categories = ['Make', 'VNST', 'Color','Size']

In [36]:
#creates a dict of news categories and all text concatenated in a single string
categories_joined = {}

for category in word_cloud_categories:
    col_list = []
    for i in range(train.shape[0]):
        col_list.append(train[category][i])
    text = " ".join(col_list)
#     print(" ".join(col_list))
    categories_joined[category] = text

TypeError: sequence item 24567: expected str instance, float found

In [27]:
len(categories_joined['Make'])

469380

72983

In [6]:
#title dimension for pyplot
title_dic = {'fontsize': 250,
 'fontweight' : 5,
 'verticalalignment': 'baseline',
 'horizontalalignment': 'center'}

In [ ]:
#create a word cloud for each news category and save as png
for category in word_cloud_categories:
    col_list = []
    for i in range(train.shape[0]):
        col_list.append(train[category][i])
    text = " ".join(col_list)
    wordcloud = WordCloud(width = 3000, height = 2000, random_state=1, background_color='white', collocations=False).generate(text)
    plt.figure(figsize=(40, 30))
    plt.imshow(wordcloud) 
    plt.axis("off")
    plt.title(category, fontdict = title_dic)
    image_file_path = os.path.abspath(os.path.join(os.pardir,'images','{}_word_cloud.png'.format(category)))
    plt.savefig(image_file_path, bbox_inches='tight')
    plt.show()

# Word Count by Category

In [8]:
feat_lst = ['Word Count','Noun Phrases','Noun Count','Adjective Count','Verb Count']
feat_dict = {}

for feature in feat_lst:
    feat_dict[feature] = data.groupby(['News Category'])[feature].mean().tolist()
    
feat_dict

NameError: name 'data' is not defined

In [ ]:
df = pd.DataFrame(feat_dict, index=news_categories)
ax = df.plot.bar(rot=15)

In [ ]:
image_file_path = os.path.abspath(os.path.join(os.pardir,'images','features_average_bar_plot.png'))
ax.figure.savefig(image_file_path)